@{
    ViewData["Title"] = "Loading the Service Bus Monitor";
}

<div class="text-center">
    <h1 class="display-4">Loading the Service Bus Monitor..</h1>
    <p id="status-message">Warming up..</p>
</div>

<script>
    var serviceBusLoaded = false;

    windowload.push(function() {
        $.get("/api/ApplicationLoader", function(data) {
            serviceBusLoaded = true;
            $("#status-message").text(data);

            setTimeout(function() {
                document.location = '/Monitor';
            }, 2000);
        });

        var checkStatus = function() {
            setTimeout(function() {
                $.get("/api/ApplicationLoader/Status", function(data) {
                    $("#status-message").text(data);
                });

                if (!serviceBusLoaded) {
                    checkStatus();
                }
            }, 100);
        };
        checkStatus();
    });
</script>